body {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#allContainer {
  padding: 10px;
  height: 100vh;
}

.mainContainer {
  z-index: 1;
  /* padding: 10px; */
  margin: auto;
  border: 2px solid green;
  background-color: green;
  height: 100%;
}

.nasaWorkPlz {
  margin: auto;
  z-index: -1;
  position: absolute;
  height: 97.5vh;
  width: 98.7vw;
  border-radius: 5px;
}

.openWeather,
.zomato {
  background-color: rgba(211, 211, 211, 0.7);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.openWeather {
  border: 2px solid blue;
  width: 30vh;
  height: 47vh;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.zomato {
  border: 2px solid red;
  width: 30vh;
  height: 47vh;
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.approw,
.btn {
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.btn {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.8);
}
